@import url('https://fonts.googleapis.com/css2?family=Anton&family=Outfit:wght@400;500&family=Rowdies&display=swap');
*{
        padding: 0;
        margin: 0;
        box-sizing: content-box;
}
