@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Kanit:wght@500&family=Mochiy+Pop+One&family=Mukta:wght@800&family=Outfit:wght@400;500&family=Rowdies&display=swap');
.main{
        background-color: aliceblue;
        width: 100%;
}
.uniformes_temporada{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
}
.card_uniforme{
        width: 100%;
        border: solid 1px rgba(20, 79, 241, 0.85);
        height: 250px;
        padding: 1px;
}
.local{
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #182e37);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #97a5ac, #2C5364, #182e37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
        height: 40%;
        position: relative;

}
.away{
        background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #020dae, #020dae, #efb12d);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #020dae, #020dae, #efb12d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
        height: 40%;
}
.alternative{
        background: #0f0c29;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #020dae, #020dae, #efb12d);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #efb12d, #efb12d, #020dae); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
        height: 40%;
}
.content_uniforme{
        display: flex;
        height: 60%;
        position: relative;
}
.descripcion_uniforme{
        font-family: 'Rowdies', cursive;
        padding: 3px;
}
.descripcion_uniforme h1{
        font-family: 'Kanit', sans-serif;
        font-size: 20px;
}
.descripcion_uniforme p{
        font-family: 'Outfit', sans-serif;
}

.jornada{
        font-family: 'Outfit', sans-serif;
        padding: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
}
.seccion_partidos{
        width: 100%;
}
.lista_partidos{
        display: flex;
        flex-wrap: wrap;
}
.card_partido{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: #0f0c29;
        font-family: 'Mochiy Pop One', sans-serif;
        color: white;
        align-items: center;
        justify-content: center;
        margin: 5px 0;
        padding: 3px;
        border-radius: 3px;
}
.fecha_partido{
        width: 100%;
}
.local_escudo, .datos_partido,.visita{
        width: 33%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
}
.card_partido img{
        width: 150px;
}
.datos_partido h4{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 1px;
}
.datos_partido a{
        text-decoration: none;
        color:white
}
.datos_partido a:hover{
        color: pink;
}
@media (min-width:1366px){
        .card_uniforme{
                max-width: 30%;
        }
}